.cabeçalho

.paragrafo 1{
   background-color: aliceblue;
   font-size: 16px;
}
.paragrafo 1{
    font-size: 30px;
    background-color: aquamarine;
}
.historia{
    font-size: 40px;
}
.img {
         size: 20px;
}

